dt:hover > .talk_tooltip {
    display: flex;
}
.talk_tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    
    text-align: center;
    
    border-radius: 3px 3px 3px 3px;
    
    width: 140px;
    min-height: 220px;
    
    margin: auto;
    right: 100px;
    top: 0px;
    bottom: 0px;
    
    background-color: yellow;
}

.talk_tooltip:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	position: absolute;
    border-left-color: yellow;
    border-width: 10px;
    margin-top: -25px;
}

.talk_tooltip_header {
    text-align: middle;
    align-self: flex-start;
    
    min-height: 40px;
    background-color: orange;
    
    border-radius: 5px 5px 0px 0px;
    
    width: 100%;
    
    padding-top: 8px;
}

.talk_tooltip_text {
    position: relative;
    
    font-size: 17px;
}

.talk_tooltip_btn {
    position: relative;
    display: online-block;
    
    background-color: yellow;
    
    border-left: 0px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 0px solid black;
    
    border-radius: 10px 0px 0px 0px;
    
    width: 100%;
    height: 30px;
}

.talk_tooltip_btn_div {
    position: absolute;
    display: block;
    
    background-color: black;
    border-radius: 0px 0px 3px 3px;
    
    align-self: flex-end;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
